In [47]:
import numpy as np
import pandas as pd

In [8]:
my_data = pd.DataFrame({
    "type": ["A", "A", "B", "B"],
    "value": [10, 14, 12, 23]
})

In [9]:
my_data

  type  value
0    A     10
1    A     14
2    B     12
3    B     23

In [11]:
my_stat = pd.read_csv("my_stat.csv")

In [12]:
my_stat

     V1    V2 V3   V4
0     2  13.0  B  1.0
1    -1   7.0  B  1.0
2     0  11.0  A  0.0
3     2  11.0  A  2.0
4     0  10.0  B -1.0
..   ..   ... ..  ...
495   1   8.0  A -1.0
496   3   8.0  A  1.0
497  -1  11.0  B  2.0
498   1  11.0  A  2.0
499   0   8.0  B  1.0

[500 rows x 4 columns]

In [14]:
subset_1 = my_stat.iloc[:10, [0, 2]]

In [41]:
subset_2 = my_stat.iloc[~my_stat.index.isin([0, 4]), [1, 3]]

In [42]:
subset_2

       V2   V4
1     7.0  1.0
2    11.0  0.0
3    11.0  2.0
5    11.0  0.0
6     9.0  2.0
..    ...  ...
495   8.0 -1.0
496   8.0  1.0
497  11.0  2.0
498  11.0  2.0
499   8.0  1.0

[498 rows x 2 columns]

In [44]:
subset_1 = my_stat.query("V1 > 0 & V3 == 'A'")
subset_1

     V1    V2 V3   V4
3     2  11.0  A  2.0
5     2  11.0  A  0.0
7     1   9.0  A  1.0
10    1  10.0  A  1.0
13    1  12.0  A  3.0
..   ..   ... ..  ...
491   4   7.0  A  2.0
494   1  11.0  A  1.0
495   1   8.0  A -1.0
496   3   8.0  A  1.0
498   1  11.0  A  2.0

[88 rows x 4 columns]

In [46]:
subset_2 = my_stat.query("V2 != 10 | V4 >= 1")
subset_2

     V1    V2 V3   V4
0     2  13.0  B  1.0
1    -1   7.0  B  1.0
2     0  11.0  A  0.0
3     2  11.0  A  2.0
5     2  11.0  A  0.0
..   ..   ... ..  ...
495   1   8.0  A -1.0
496   3   8.0  A  1.0
497  -1  11.0  B  2.0
498   1  11.0  A  2.0
499   0   8.0  B  1.0

[447 rows x 4 columns]

In [57]:
my_stat.assign(V5=my_stat.V1 + my_stat.V4, V6=my_stat.V2.agg("log"))

     V1    V2 V3   V4   V5        V6
0     2  13.0  B  1.0  3.0  2.564949
1    -1   7.0  B  1.0  0.0  1.945910
2     0  11.0  A  0.0  0.0  2.397895
3     2  11.0  A  2.0  4.0  2.397895
4     0  10.0  B -1.0 -1.0  2.302585
..   ..   ... ..  ...  ...       ...
495   1   8.0  A -1.0  0.0  2.079442
496   3   8.0  A  1.0  4.0  2.079442
497  -1  11.0  B  2.0  1.0  2.397895
498   1  11.0  A  2.0  3.0  2.397895
499   0   8.0  B  1.0  1.0  2.079442

[500 rows x 6 columns]

In [60]:
my_stat = my_stat.rename({ "V1": "session_value", "V2": "group", "V3": "time", "V4": "n_users" }, axis=1)

In [61]:
my_stat

     session_value  group time  n_users
0                2   13.0    B      1.0
1               -1    7.0    B      1.0
2                0   11.0    A      0.0
3                2   11.0    A      2.0
4                0   10.0    B     -1.0
..             ...    ...  ...      ...
495              1    8.0    A     -1.0
496              3    8.0    A      1.0
497             -1   11.0    B      2.0
498              1   11.0    A      2.0
499              0    8.0    B      1.0

[500 rows x 4 columns]

In [108]:
my_stat = pd.read_csv("my_stat_1.csv")
my_stat.session_value = my_stat.session_value.fillna(0)
my_stat.loc[my_stat.n_users < 0, "n_users"] = my_stat.n_users[my_stat.n_users >= 0].median()

In [109]:
my_stat

   session_value  time group  n_users
0            0.0    12     B        9
1            0.0    11     A        5
2            1.0     8     A        1
3            2.0     9     B        3
4            2.0    10     B        9
5            3.0     8     A        8
6            0.0    11     B        5
7            0.0     9     A        4
8            0.0     8     B        5
9            0.0     9     A        5

In [114]:
mean_session_value_data = my_stat.groupby('group', as_index=False)\
    .agg({ "session_value": "mean" })\
    .rename({ "session_value": "mean_session_value" }, axis=1)

  group  mean_session_value
0     A                 0.8
1     B                 0.8