In [43]:
import pandas as pd
import sqlite3 as sql

In [57]:
con = sql.connect('event_data.db')

In [45]:
data = pd.read_csv('event_data_train.csv.zip')

In [46]:
data.shape

(3480703, 4)

In [47]:
data.head()

   step_id   timestamp      action  user_id
0    32815  1434340848      viewed    17632
1    32815  1434340848      passed    17632
2    32815  1434340848  discovered    17632
3    32811  1434340895  discovered    17632
4    32811  1434340895      viewed    17632

In [48]:
query = 'CREATE TABLE IF NOT EXISTS event (' \
        'id INTEGER PRIMARY KEY,' \
        'step_id INTEGER NOT NULL,' \
        'timestamp INTEGER NOT NULL,' \
        'action TEXT NOT NULL,' \
        'user_id INTEGER NOT NULL' \
        ');'

In [49]:
cursor = con.cursor()
cursor.execute(query)
cursor.close();

In [50]:
data.to_sql(name='event', con=con, if_exists='append', index_label='id')

In [51]:
pd.read_sql('SELECT * FROM event;', con)